<div class="b-slider">

    <!-- one slide : begin -->
    <div class="b-slider__item">
        <div class="b-slider-item">

            <!-- top block : begin -->
            <div class="b-slider-item__top">

                <!-- social services : begin -->
                <div class="b-slider__social-services">
                    <a href="#" class="b-slider__social-services-vk"></a>
                    <a href="#" class="b-slider__social-services-facebook"></a>
                    <a href="#" class="b-slider__social-services-youtube"></a>
                </div>
                <!-- social services : end -->

                <!-- circles weeks : begin -->
                <div class="b-slider__circles-weeks">

                    <!-- one item : begin -->
                    <div class="b-slider__circles-weeks-item">
                        <p class="b-slider__circles-weeks-title">Акция сегодня</p>
                        <a href="#" class="b-slider__circles-weeks-link"><img src="../dist/img/circles-weeks/1.png" alt=""></a>
                        <p class="b-slider__circles-weeks-text">Все товары<br>марки Atmose</p>
                    </div>
                    <!-- one item : end -->

                    <!-- one item : begin -->
                    <div class="b-slider__circles-weeks-item">
                        <p class="b-slider__circles-weeks-title">Новинка недели</p>
                        <a href="#" class="b-slider__circles-weeks-link"><img src="../dist/img/circles-weeks/2.png" alt=""></a>
                        <p class="b-slider__circles-weeks-text">Halo box mod<br>e-cigarette</p>
                    </div>
                    <!-- one item : end -->

                    <!-- one item : begin -->
                    <div class="b-slider__circles-weeks-item">
                        <p class="b-slider__circles-weeks-title">Рецепт недели</p>
                        <a href="#" class="b-slider__circles-weeks-link"><img src="../dist/img/circles-weeks/3.png" alt=""></a>
                        <p class="b-slider__circles-weeks-text">Жидкость со вкусом<br>чизкейка и клубники</p>
                    </div>
                    <!-- one item : end -->

                    <!-- one item : begin -->
                    <div class="b-slider__circles-weeks-item">
                        <p class="b-slider__circles-weeks-title">Хит недели</p>
                        <a href="#" class="b-slider__circles-weeks-link"><img src="../dist/img/circles-weeks/4.png" alt=""></a>
                        <p class="b-slider__circles-weeks-text">Жидкость CUTWOOD<br>Honey</p>
                    </div>
                    <!-- one item : end -->

                </div>
                <!-- circles weeks : end -->

            </div>
            <!-- top block : end -->

            <!-- bottom block : begin -->
            <div class="b-slider-item__bottom">

                <h1 class="b-slider__title">Наш храм вейпингу</h1>
                <p class="b-slider__text">В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как бы в нерешимости, отправился к К-ну мосту.</p>

            </div>
            <!-- bottom block : end -->

        </div>
    </div>
    <!-- one slide : end -->

</div>