/*
** BANNER
*/

.b-banner {
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        display: block;
        @include sprite($icon-circle-cloud);
        position: absolute;
        left: 50%;
        bottom: -46px;
        transform: translateX(-50%);
        z-index: 2;
    }

    // one slide : begin
    &__item {
        height: 470px;
        padding: 148px 0 0 0;
        position: relative;
        background: $color-blue-dark url("../img/banner/1.png") center center no-repeat;
    }

    &-item {
        width: 100%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    // one slide : end

    // title
    &__title {
        text-shadow: -1px 3px 0 rgba(13, 17, 30, 0.3);
        color: $color-white-3;
        font-family: $title-font;
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0 0 25px;
    }

    // text
    &__text {
        width: 100%;
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        text-shadow: -2px 5px 5px rgba(13, 17, 30, 0.75);
        color: $color-white;
        font-family: $text-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.428;
    }

    // series
    &__series {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 37px;

        span {
            display: block;
            text-shadow: -2px 5px 5px rgba(13, 17, 30, 0.75);
            color: $color-white;
            font-family: $text-font;
            font-weight: 400;
            line-height: 1.11;
            font-size: 18px;
        }

        img {
            display: block;
        }
    }
}