/*
** BANNER
*/

.b-cafe-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 57px 0 60px 0;

    // title
    h2 {
        text-shadow: 0 0 5px rgba(80, 160, 255, 0.1);
        color: $color-black;
        font-family: $title-font;
        font-size: 30px;
        line-height: 1;
        font-weight: 400;
        margin: 0 0 65px;
    }

    // wrapper : begin
    .b-cafe-descr__wrapper {
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
    }
    // wrapper : end

    // one item : begin
    &__item {
        img {}

        p {
            color: $color-black;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428;
            text-align: center;
        }
    }
    // one item : end
}