<div class="b-offers">

    <!-- one item : begin -->
    <div class="b-offers__item -turquoise">

        <!-- img left -->
        <div class="b-offers__img-left">
            <img src="../dist/img/offers/bg-1.png" alt="">
        </div>

        <!-- wrapper : begin -->
        <div class="b-offers__wrapper">

            <!-- text : begin -->
            <div class="b-offers__text">
                <img src="../dist/img/offers/graffiti-1.png" alt="">
                <p>В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как.</p>
                <a href="#" class="b-button -gradient">В корзину</a>
            </div>
            <!-- text : end -->

            <!-- img right -->
            <div class="b-offers__img-right">
                <img src="../dist/img/offers/img-1.png" alt="">
            </div>

        </div>
        <!-- wrapper : end -->

    </div>
    <!-- one item : end -->

    <!-- one item : begin -->
    <div class="b-offers__item -white">

        <!-- img left -->
        <div class="b-offers__img-left">
            <img src="../dist/img/offers/bg-2.png" alt="">
        </div>

        <!-- wrapper : begin -->
        <div class="b-offers__wrapper">

            <!-- text : begin -->
            <div class="b-offers__text">
                <img src="../dist/img/offers/graffiti-1.png" alt="">
                <p>В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как.</p>
                <a href="#" class="b-button -gradient">В корзину</a>
            </div>
            <!-- text : end -->

            <!-- img right -->
            <div class="b-offers__img-right">
                <img src="../dist/img/offers/img-2.png" alt="">
            </div>

        </div>
        <!-- wrapper : end -->

    </div>
    <!-- one item : end -->

    <!-- one item : begin -->
    <div class="b-offers__item -bluish-black">

        <!-- img left -->
        <div class="b-offers__img-left">
            <img src="../dist/img/offers/bg-3.png" alt="">
        </div>

        <!-- wrapper : begin -->
        <div class="b-offers__wrapper">

            <!-- text : begin -->
            <div class="b-offers__text">
                <img src="../dist/img/offers/graffiti-1.png" alt="">
                <p>В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как.</p>
                <a href="#" class="b-button -gradient">В корзину</a>
            </div>
            <!-- text : end -->

            <!-- img right -->
            <div class="b-offers__img-right">
                <img src="../dist/img/offers/img-3.png" alt="">
            </div>

        </div>
        <!-- wrapper : end -->

    </div>
    <!-- one item : end -->

    <!-- one item : begin -->
    <div class="b-offers__item -ultramarine-yellow-peach">

        <!-- img left -->
        <div class="b-offers__img-left">
            <img src="../dist/img/offers/bg-4.png" alt="">
        </div>

        <!-- wrapper : begin -->
        <div class="b-offers__wrapper">

            <!-- text : begin -->
            <div class="b-offers__text">
                <img src="../dist/img/offers/graffiti-1.png" alt="">
                <p>В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как.</p>
                <a href="#" class="b-button -gradient">В корзину</a>
            </div>
            <!-- text : end -->

            <!-- img right -->
            <div class="b-offers__img-right">
                <img src="../dist/img/offers/img-4.png" alt="">
            </div>

        </div>
        <!-- wrapper : end -->

    </div>
    <!-- one item : end -->

    <!-- one item : begin -->
    <div class="b-offers__item -burgundy">

        <!-- img left -->
        <div class="b-offers__img-left">
            <img src="../dist/img/offers/bg-5.png" alt="">
        </div>

        <!-- wrapper : begin -->
        <div class="b-offers__wrapper">

            <!-- text : begin -->
            <div class="b-offers__text">
                <img src="../dist/img/offers/graffiti-1.png" alt="">
                <p>В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как.</p>
                <a href="#" class="b-button -gradient">В корзину</a>
            </div>
            <!-- text : end -->

            <!-- img right -->
            <div class="b-offers__img-right">
                <img src="../dist/img/offers/img-5.png" alt="">
            </div>

        </div>
        <!-- wrapper : end -->

    </div>
    <!-- one item : end -->

</div>