<div class="b-breadcrumbs">
    <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Моды</a></li>
        <li><span><i>Бокс моды</i></span></li>
    </ul>
</div>