/*
** BREADCRUMBS
*/

.b-breadcrumbs {
    height: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,f3f3f3+100 */
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #f3f3f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dddddd 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dddddd 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px $color-white solid;

    ul {
        width: 960px;
        margin: 0 auto;
        padding: 0 10px;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
            margin: 0;
            padding: 0;

            a {
                color: $color-gray-3;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                height: 30px;
                text-decoration: none;
                display: block;
                padding: 0 13px 0 18px;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    @include sprite($icon-separator);
                    position: absolute;
                    left: 0;
                    top: 1px;
                }
            }

            span {
                color: $color-gray-3;
                line-height: 30px;
                display: block;
                padding: 0 13px 0 18px;
                position: relative;
                background: $color-white-5;
                border-radius: 0 7px 7px 0/0px 13px 13px 0;

                &:after {
                    content: '';
                    display: block;
                    @include sprite($icon-separator);
                    position: absolute;
                    left: 0;
                    top: 1px;
                }

                i {
                    font-style: normal;
                    height: 30px;
                    position: relative;
                    display: block;

                    &:before {
                        content: '';
                        position: absolute;
                        left: -18px;
                        border-radius: 0 8px 8px 0/0px 19px 19px 0;
                        top: 0;
                        width: 6px;
                        height: 30px;
                        display: block;
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,f3f3f3+100 */
                        background: #dddddd; /* Old browsers */
                        background: -moz-linear-gradient(top, #dddddd 0%, #f3f3f3 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, #dddddd 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, #dddddd 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
                    }
                }
            }

            &:last-child {
                span,
                a {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 1px;
                        @include sprite($icon-separator);
                    }
                }
            }
        }
    }
}