<footer class="b-footer">
    <!-- top : begin -->
    <div class="b-footer__top">
        <div class="container">

            <!-- logo -->
            <div class="b-footer__logo">
                <a href="#"></a>
            </div>

            <!-- list of links -->
            <div class="b-footer__list-of-links">
                <div class="b-footer__title">Информация</div>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Кафе</a></li>
                </ul>
            </div>

            <!-- list of links -->
            <div class="b-footer__list-of-links">
                <div class="b-footer__title">Услуги</div>
                <ul>
                    <li><a href="#">Ремонт девайсов</a></li>
                    <li><a href="#" class="-active">База рецептов</a></li>
                    <li><a href="#">Наши замесы</a></li>
                </ul>
            </div>

            <!-- list of links -->
            <div class="b-footer__list-of-links">
                <div class="b-footer__title">Каталог</div>
                <ul>
                    <li><a href="#">Испарители</a></li>
                    <li><a href="#">Жидкости</a></li>
                    <li><a href="#">Моды</a></li>
                </ul>
            </div>

            <!-- list of links -->
            <div class="b-footer__list-of-links">
                <div class="b-footer__title">Свяжитесь с нами</div>
                <ul>
                    <li><a href="mailto:vapetemple@info.ru">vapetemple@info.ru</a></li>
                    <li>8 (987) 723-77-77</li>
                    <li>
                        <div class="b-footer__social-services">
                            <a href="#" class="b-footer__social-services-vk"></a>
                            <a href="#" class="b-footer__social-services-facebook"></a>
                            <a href="#" class="b-footer__social-services-youtube"></a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- message -->
            <div class="b-footer__message">

                <!-- age -->
                <div class="b-footer__age">
                    <span>18+</span>
                </div>

                <!-- text -->
                <div class="b-footer__message-text">Мы не продаем<br>электронные жидкости<br>и девайсы людям,<br>младше 18 лет</div>

            </div>

        </div>
    </div>
    <!-- top : end -->

    <!-- bottom : begin -->
    <div class="b-footer__bottom">
        <div class="container">
            <p>&copy; Vape Temple 2016. Все права защищены.</p>
        </div>
    </div>
    <!-- bottom : end -->
</footer>