<div class="b-our-power">
    <div class="b-our-power__wrapper">

        <!-- left column : begin -->
        <div class="b-our-power__left-col">
            <div class="b-our-power__title">Наша сила</div>
        </div>
        <!-- left column : end -->

        <!-- right column : begin -->
        <div class="b-our-power__right-col">

            <div class="b-our-power__subtitle">
                <div>в низких ценах</div>
                <div>быстром<br>обслуживании</div>
                <div>ежедневных 5%-ых скидках</div>
            </div>

            <div class="b-our-power__text">
                <div>
                    <p>Он благополучно избегнул встречи с своею хозяйкой на лестнице. Каморка его приходилась под самою кровлей высокого пятиэтажного дома и походила более на шкаф, чем на квартиру. Квартирная же хозяйка его, у которой</p>
                </div>
                <div>
                    <p>Он нанимал эту каморку с обедом и прислугой, помещалась одною лестницей ниже, в отдельной квартире, и каждый раз, при выходе на улицу, ему непременно надо было проходить мимо хозяйкиной кухни, почти всегда настежь отворенной на лестницу.</p>
                </div>
                <div>
                    <p>И каждый раз молодой человек, проходя мимо, чувствовал какое-то болезненное и трусливое ощущение, которого стыдился и от которого морщился. Он был должен кругом хозяйке и боялся с нею встретиться.</p>
                    <a href="#" class="b-button">Узнать больше</a>
                </div>
            </div>

        </div>
        <!-- right column : end -->

    </div>
</div>