/*
** OUR POWER
*/

.b-our-power {
    position: relative;
    padding: 73px 0 62px;
    background: $color-blue-dark url(../img/our-power/1.png) no-repeat center bottom;
    border-bottom: 3px #3eacdd solid;

    // wrapper
    &__wrapper {
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    // left column
    &__left-col {
        height: 193px;
        display: flex;
        align-items: center;
    }

    // right column
    &__right-col {
    }

    // title
    &__title {
        text-shadow: 0 0 5px rgba(39, 92, 155, 0.75);
        color: #5a8ecd;
        font-family: $title-font;
        font-size: 30px;
        font-weight: 400;
        line-height: 1;
        margin: -4px 0 0 0;
    }

    // subtitle
    &__subtitle {
        margin: 0 0 43px;
        height: 193px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url(../img/our-power/2.png) no-repeat center center;

        div {
            width: 160px;
            text-shadow: 0 0 19px rgba(13, 17, 30, 0.9);
            color: $color-white-7;
            font-family: $title-font;
            font-size: 19px;
            font-weight: 400;
            line-height: 1;
            text-align: center;

            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }

    // text
    &__text {
        //margin: 0 80px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            width: 160px;
            margin: 0 80px 0 0;

            &:last-child {
                margin-right: 0;
            }
        }

        p {
            color: $color-white-7;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428;
            margin: 0 0 35px;
        }
    }

    .b-button {
        width: 100%;
    }
}