<div class="b-nav-add js-nav-add">

    <!-- top : begin -->
    <div class="b-nav-add__top">
        <ul>
            <li><a href="#" class="js-nav-add-tab-controller -active" data-tab="1">Электронные испарители</a></li>
            <li><a href="#" class="js-nav-add-tab-controller" data-tab="2">Атомайзеры</a></li>
            <li><a href="#" class="js-nav-add-tab-controller" data-tab="3">Моды</a></li>
            <li><a href="#" class="js-nav-add-tab-controller" data-tab="4">Жидкости</a></li>
            <li><a href="#" class="js-nav-add-tab-controller" data-tab="5">Основы</a></li>
            <li><a href="#" class="js-nav-add-tab-controller" data-tab="6">Флаконы</a></li>
        </ul>
    </div>
    <!-- top : end -->

    <!-- bottom : begin -->
    <div class="b-nav-add__bottom">
        <div class="b-nav-add__wrapper -active js-nav-add-tab-content" data-tab="1">

            <!-- list -->
            <ul>
                <li><a href="#">Первый таб</a></li>
                <li><a href="#">Мехмоды</a></li>
                <li><a href="#">Электронные сигареты Denshi Tabaco</a></li>
                <li><a href="#">Электронные сигареты Eleaf (iSmoka)</a></li>
                <li><a href="#">Моды и Веривольты</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

        </div>

        <div class="b-nav-add__wrapper js-nav-add-tab-content" data-tab="2">

            <!-- list -->
            <ul>
                <li><a href="#">Второй таб</a></li>
                <li><a href="#">Мехмоды</a></li>
                <li><a href="#">Электронные сигареты Denshi Tabaco</a></li>
                <li><a href="#">Электронные сигареты Eleaf (iSmoka)</a></li>
                <li><a href="#">Моды и Веривольты</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

        </div>

        <div class="b-nav-add__wrapper js-nav-add-tab-content" data-tab="3">

            <!-- list -->
            <ul>
                <li><a href="#">Третий таб</a></li>
                <li><a href="#">Мехмоды</a></li>
                <li><a href="#">Электронные сигареты Denshi Tabaco</a></li>
                <li><a href="#">Электронные сигареты Eleaf (iSmoka)</a></li>
                <li><a href="#">Моды и Веривольты</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

        </div>

        <div class="b-nav-add__wrapper js-nav-add-tab-content" data-tab="4">

            <!-- list -->
            <ul>
                <li><a href="#">Четвертый таб</a></li>
                <li><a href="#">Мехмоды</a></li>
                <li><a href="#">Электронные сигареты Denshi Tabaco</a></li>
                <li><a href="#">Электронные сигареты Eleaf (iSmoka)</a></li>
                <li><a href="#">Моды и Веривольты</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

        </div>

        <div class="b-nav-add__wrapper js-nav-add-tab-content" data-tab="5">

            <!-- list -->
            <ul>
                <li><a href="#">Пятый таб</a></li>
                <li><a href="#">Мехмоды</a></li>
                <li><a href="#">Электронные сигареты Denshi Tabaco</a></li>
                <li><a href="#">Электронные сигареты Eleaf (iSmoka)</a></li>
                <li><a href="#">Моды и Веривольты</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

        </div>

        <div class="b-nav-add__wrapper js-nav-add-tab-content" data-tab="6">

            <!-- list -->
            <ul>
                <li><a href="#">Шестой таб</a></li>
                <li><a href="#">Мехмоды</a></li>
                <li><a href="#">Электронные сигареты Denshi Tabaco</a></li>
                <li><a href="#">Электронные сигареты Eleaf (iSmoka)</a></li>
                <li><a href="#">Моды и Веривольты</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

            <!-- list -->
            <ul>
                <li><a href="#">Стационарные устройства для курения</a></li>
                <li><a href="#">Бокс моды SIGELEI</a></li>
                <li><a href="#">Бокс моды WISMEC</a></li>
                <li><a href="#">Электронные сигареты Innokin</a></li>
                <li><a href="#">Электронные сигареты SMOKtech</a></li>
            </ul>

        </div>
    </div>
    <!-- bottom : end -->

</div>