/*
** GLOBAL STYLES
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
}

.container {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}