/*
** TYPOGRAPHY
** font-face
** @import
** basic styles
*/
// FONT FACE : begin
// Clear sans : begin
@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Bold.eot');
    src: url('../fonts/clear-sans/Clear Sans Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Bold.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Bold.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Bold.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Bold.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Bold.svg#Clear Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans.eot');
    src: url('../fonts/clear-sans/Clear Sans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans.svg#Clear Sans') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Italic.eot');
    src: url('../fonts/clear-sans/Clear Sans Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Italic.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Italic.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Italic.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Italic.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Italic.svg#Clear Sans Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Bold Italic.eot');
    src: url('../fonts/clear-sans/Clear Sans Bold Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Bold Italic.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Bold Italic.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Bold Italic.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Bold Italic.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Bold Italic.svg#Clear Sans Bold Italic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Thin.eot');
    src: url('../fonts/clear-sans/Clear Sans Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Thin.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Thin.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Thin.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Thin.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Thin.svg#Clear Sans Thin') format('svg');
    font-weight: 250;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Medium.eot');
    src: url('../fonts/clear-sans/Clear Sans Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Medium.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Medium.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Medium.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Medium.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Medium.svg#Clear Sans Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Medium Italic.eot');
    src: url('../fonts/clear-sans/Clear Sans Medium Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Medium Italic.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Medium Italic.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Medium Italic.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Medium Italic.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Medium Italic.svg#Clear Sans Medium Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/Clear Sans Light.eot');
    src: url('../fonts/clear-sans/Clear Sans Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clear-sans/Clear Sans Light.woff2') format('woff2'),
    url('../fonts/clear-sans/Clear Sans Light.woff') format('woff'),
    url('../fonts/clear-sans/Clear Sans Light.ttf') format('truetype'),
    url('../fonts/clear-sans/Clear Sans Light.otf') format('opentype'),
    url('../fonts/clear-sans/Clear Sans Light.svg#Clear Sans Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

// Clear sans : end

// Sitka : begin
// Text bold
@font-face {
    font-family: 'Sitka Small';
    src: url('../fonts/sitka/Sitka Small Bold.eot');
    src: url('../fonts/sitka/Sitka Small Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sitka/Sitka Small Bold.woff2') format('woff2'),
    url('../fonts/sitka/Sitka Small Bold.woff') format('woff'),
    url('../fonts/sitka/Sitka Small Bold.ttf') format('truetype'),
    url('../fonts/sitka/Sitka Small Bold.otf') format('opentype'),
    url('../fonts/sitka/Sitka Small Bold.svg#Sitka Small Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

// Banner
@font-face {
    font-family: 'Sitka Small';
    src: url('../fonts/sitka/Sitka Small.eot');
    src: url('../fonts/sitka/Sitka Small.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sitka/Sitka Small.woff2') format('woff2'),
    url('../fonts/sitka/Sitka Small.woff') format('woff'),
    url('../fonts/sitka/Sitka Small.ttf') format('truetype'),
    url('../fonts/sitka/Sitka Small.otf') format('opentype'),
    url('../fonts/sitka/Sitka Small.svg#Sitka Small') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

// Sitka : end
// FONT FACE : end

// IMPORT : begin
// Cuprum (All)
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&subset=cyrillic-ext');
// IMPORT : end

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428;
    color: $color-black;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
}

// h1-h6 titles : begin
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

// h1-h6 titles : begin

// text (link, bold, italic) : begin
p {
    margin: 0;
    padding: 0;

    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    a {
        // default styles for normal links
        &[href]:not([class]) {
        }

        &:hover {
        }

        &:active {
        }

        &:visited {
        }
    }
}

// text (link, bold, italic) : end

// bulleted list : begin
ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

// bulleted list : end

// numbered list : begin
ol {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

// numbered list : end

// table : begin
table {
    width: 100%;
    margin: 0;
    padding: 0;

    &:hover {
        transition: all 0.2s ease;
    }

    tr {
        th,
        td {
            padding: 10px 13px;
            text-align: left;
            border: 1px solid #010101;
        }

        th {
            font-weight: bold;
            font-size: 120%;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// table : end

// hor line
hr {
}