<div class="b-contacts">

    <!-- text : begin -->
    <div class="b-contacts__text">

        <h3>Вейп-кафе Vape Temple<br>уже ждет тебя<br>на ул. М. Бронной, д.73</h3>
        <p>Здесь вы можете прикупить девайсов, жидкостей, пообщаться с единомышленниками, починить непослушный девайс, а также замешать жидкость или же поручить это дело нам.</p>
        <p><b>Часы работы кафе:</b> <span>10:00-23:00</span> (ежедневно)</p>
        <p><b>Телефон:</b> <span>8 (499) 765-99-09</span></p>
        <a href="#" class="b-button">Подробнее</a>

    </div>
    <!-- text : end -->

</div>