<!DOCTYPE HTML>
<html>
<head>
    <!-- BASE -->
    <meta charset="utf-8">
    <title>Кафе - Vape Temple</title>

    <!-- SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- disable select tel. and skype numbers -->
    <meta name="format-detection" content="telephone=no">
    <meta name="skype-toolbar" content="skype-toolbar-parser-compatible">

    <!-- FAVICONS (http://favicon-generator.org) -->

    <!-- CSS -->
    <link rel="stylesheet" href="/dist/css/vape-temple-project.min.css">
    <!--<link rel="stylesheet" href="/dist/css/vape-temple-project.css">-->
</head>

<body>
<!-- HEADER PAGE : begin -->
<%include src="../../public/blocks/dev/header/b-header.html"%>
<!-- HEADER PAGE : end -->

<!-- SLIDER : begin -->
<%include src="../../public/blocks/slider/b-slider.html"%>
<!-- SLIDER : end -->

<!-- CAFE DESCRIPTION : begin -->
<%include src="../../public/blocks/cafe-descr/b-cafe-descr.html"%>
<!-- CAFE DESCRIPTION : end -->

<!-- OUR POWER : begin -->
<%include src="../../public/blocks/our-power/b-our-power.html"%>
<!-- OUR POWER : end -->

<!-- CONTACTS : begin -->
<%include src="../../public/blocks/contacts-add/b-contacts-add.html"%>
<!-- CONTACTS : end -->

<!-- FOOTER PAGE : begin -->
<%include src="../../public/blocks/dev/footer/b-footer.html"%>
<!-- FOOTER PAGE : end -->

<!-- AUTHENTICATION : begin -->
<%include src="../../public/blocks/auth/b-auth.html"%>
<!-- AUTHENTICATION : end -->

<!-- JS -->
<script src="/dist/js/vape-temple-project.min.js"></script>
<!--<script src="/dist/js/vape-temple-project-base.js"></script>-->
<!--<script src="/dist/js/vape-temple-project-run.js"></script>-->
</body>
</html>