/*
** CATALOG
*/

.b-catalog {
    width: 960px;
    padding: 26px 10px 26px 10px;
    margin: 0 auto;

    // title
    &__title {
        color: $color-blue-dark;
        font-family: $title-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        margin: 0 0 17px;
    }

    // sorting : begin
    &__sorting {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 9px;
        position: relative;
    }

    // selected
    &__sorting-selected {
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 2.142;
            color: $color-blue-dark;
        }
    }

    // button
    &__sorting-button {
        color: $color-blue;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
        line-height: 2.142;
        cursor: pointer;
    }
    // selected : end

    // list : begin
    &__sorting-list {
        position: absolute;
        left: 59px;
        top: 28px;
        border: 1px solid $color-white-8;
        background: $color-white-3;
        z-index: 2;
        padding: 7px 5px 2px;

        &.-hide {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin: 0 0 5px;
            padding: 0 6px 1px;
            list-style: none;
            border-bottom: 1px $color-white-8 solid;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            li {
                margin: 0 0 5px;
                padding: 0;
                color: $color-blue-dark;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                cursor: pointer;

                &.-active,
                &:hover {
                    span {
                        border-bottom: 1px $color-blue-dark dotted;
                    }
                }
            }
        }
    }
    // list : end
    // sorting : end

    // list of products : begin
    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    // one product : begin
    &__item {
        width: 220px;
        border: 1px solid $color-white;
        background-color: $color-white-3;
        text-align: center;
        margin: 0 20px 20px 0;
        position: relative;

        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }

    &-item {
        // top
        &__top {
            text-decoration: none;
            position: relative;
            display: block;
            padding: 0 0 15px;

            &:after {
                content: '';
                display: block;
                opacity: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: #d4d4d4;
                z-index: 1;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }

            &:hover {
                &:after {
                    opacity: 0.32;
                    visibility: visible;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                }
            }
        }

        // bottom
        &__bottom {}

        // image
        &__img {
            display: block;
            margin: 0 0 10px;
        }

        // subtitle
        &__subtitle {
            color: $color-blue;
            font-family: $title-font;
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 3px;

            a {
                text-decoration: none;
                color: $color-blue;
            }
        }

        // manufacturer
        &__manufacturer {
            color: $color-gray-4;
            font-size: 14px;
            line-height: 1.428;
            font-weight: 400;
            margin: 0 0 20px;
        }

        // description
        &__descr {
            color: $color-gray-4;
            font-size: 14px;
            line-height: 1.428;
            font-weight: 400;
            padding: 0 10px;
        }

        // price and button : begin
        &__price-and-button {
            display: flex;
            justify-content: space-between;
        }

        // price
        &__price {
            width: 148px;
            height: 60px;
            box-shadow: inset 2px 3px 7px rgba(137, 137, 137, 0.11);
            background-color: $color-white;
            background-image: linear-gradient(to right, #f1f1f1 0%, $color-white 100%);
            border-top: 1px solid $color-white;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: $color-blue-dark;
                font-size: 24px;
                font-weight: 400;
                line-height: 1;
            }
        }

        // button
        &__button {
        }
        // price and button : end

        // like
        &__like {
            position: absolute;
            left: 9px;
            top: 9px;

            &-icon {
                display: block;
                @include sprite($icon-heart-disable);

                &:hover {
                    @include sprite($icon-heart-enable);
                }
            }
        }

        // rating
        &__rating {
            position: absolute;
            right: 9px;
            top: 9px;

            &-item {
                display: block;
                @include sprite($icon-star-disable);

                &.-active,
                &:hover {
                    display: block;
                    @include sprite($icon-star-enable);
                }
            }
        }
    }
    // one product : end
    // list of products : end

    // description catalog : begin
    &__descr {
        margin: 30px 0 0;

        p {
            color: $color-blue-dark;
            font-family: $text-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.666;
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    // description catalog : end
}