<div class="b-catalog js-catalog">

    <!-- title -->
    <h1 class="b-catalog__title">Бокс моды</h1>

    <!-- sorting : begin -->
    <div class="b-catalog__sorting">

        <!-- selected -->
        <div class="b-catalog__sorting-selected">
            <p>Сортировать <span class="b-catalog__sorting-button js-sorting-controller">по названию</span></p>
        </div>

        <!-- list : begin -->
        <div class="b-catalog__sorting-list -hide js-sorting-list">
            <ul>
                <li><span>по рейтингу</span></li>
                <li><span>по лайкам</span></li>
                <li class="-active"><span>по названию</span></li>
                <li><span>по комментариям</span></li>
            </ul>

            <ul>
                <li><span>в порядке убывания</span></li>
                <li><span>в порядке возрастания</span></li>
            </ul>
        </div>
        <!-- list : end -->

    </div>
    <!-- sorting : end -->

    <!-- list of products : begin -->
    <div class="b-catalog__items">

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

        <!-- one product : begin -->
        <div class="b-catalog__item">

            <!-- top : begin -->
            <a href="#" class="b-catalog-item__top">

                <!-- img -->
                <img src="../dist/img/catalog/1.png" alt="" class="b-catalog-item__img">

                <!-- subtitle -->
                <h2 class="b-catalog-item__subtitle">eVic VTC Mini 75W</h2>

                <!-- manufacturer -->
                <div class="b-catalog-item__manufacturer">Производитель: JoyeTech</div>

                <!-- description -->
                <div class="b-catalog-item__descr">Топовый набор из батарейного мода eVic VTwo Mini и клиромайзера CUBIS
                    Pro от Joyetech — выбор тех, кто предпочитает...
                </div>

            </a>
            <!-- top : end -->

            <!-- bottom : begin -->
            <div class="b-catalog-item__bottom">

                <!-- price and button : begin -->
                <div class="b-catalog-item__price-and-button">

                    <!-- price -->
                    <div class="b-catalog-item__price">
                        <span>6 578 руб</span>
                    </div>

                    <!-- button -->
                    <div class="b-catalog-item__button">
                        <a href="#" class="b-button -basket"></a>
                    </div>

                </div>
                <!-- price and button : end -->

            </div>
            <!-- bottom : end -->

        </div>
        <!-- one product : end -->

    </div>
    <!-- list of products : end -->

    <!-- description catalog : begin -->
    <div class="b-catalog__descr">
        <p>Кто-то, по-видимому, оклеветал Йозефа К., потому что, не сделав ничего дурного, он попал под арест. Кухарка
            его квартирной хозяйки, фрау Грубах, ежедневно приносившая ему завтрак около восьми, на этот раз не явилась.
            Такого случая еще не бывало. К. немного подождал, поглядел с кровати на старуху, живущую напротив, - она
            смотрела из окна с каким-то необычным для нее любопытством - и потом, чувствуя и голод, и некоторое
            недоумение, позвонил.</p>

        <p>Тотчас же раздался стук, и в комнату вошел какой-то человек. К. никогда раньше в этой квартире его не видел.
            Он был худощав и вместе с тем крепко сбит, в хорошо пригнанном черном костюме, похожем на дорожное платье -
            столько на нем было разных вытачек, карманов, пряжек, пуговиц и сзади хлястик, - от этого костюм казался
            особенно практичным, хотя трудно было сразу сказать, для чего все это нужно. - Ты кто такой? - спросил К. и
            приподнялся на кровати. Но тот ничего не ответил, как будто его появление было в порядке вещей, и только
            спросил: - Вы звонили? - Пусть Анна принесет мне завтрак, - сказал К. и стал молча разглядывать этого
            человека, пытаясь прикинуть и сообразить, кто же он, в сущности, такой? Но тот не дал себя особенно
            рассматривать и, подойдя к двери, немного приоткрыл ее и сказал кому-то, очевидно стоявшему тут же, за
            порогом.</p>

        <p>Он хочет, чтобы Анна подала ему завтрак. Из соседней комнаты послышался короткий смешок; по звуку трудно было
            угадать, один там человек или их несколько. И хотя незнакомец явно не мог услыхать ничего для себя нового,
            он
            заявил К. официальным тоном: - Это не положено! Кто-то, по-видимому, оклеветал Йозефа К., потому что, не
            сделав ничего дурного, он попал под арест. Кухарка его квартирной хозяйки, фрау Грубах, ежедневно
            приносившая ему завтрак около восьми, на этот раз не явилась. Такого случая еще не бывало. </p>
    </div>
    <!-- description catalog : end -->

</div>