<div class="b-auth js-auth -hide">
    <div class="b-auth__wrapper">

        <!-- top -->
        <div class="b-auth__top">

            <!-- title -->
            <div class="b-auth__title">Войти</div>

            <!-- form : begin -->
            <div class="b-form">
                <form action="">
                    <div class="b-auth__text-input">
                        <input type="text" placeholder="Адрес электронной почты">
                    </div>

                    <div class="b-auth__text-input -error">
                        <input type="text" placeholder="Пароль">
                    </div>

                    <div class="b-auth__btn-and-restore-pass">
                        <button type="button" class="b-button -blue">Войти</button>
                        <a href="#">Забыли пароль?</a>
                    </div>
                </form>
            </div>
            <!-- form : end -->

        </div>

        <!-- bottom -->
        <div class="b-auth__bottom">
            <p>Еще нет аккаунта? <a href="#">Зарегистрироваться</a></p>
        </div>

    </div>

    <!-- overlay -->
    <div class="b-auth__overlay js-auth-overlay"></div>
</div>