// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-bottom-name: 'icon-arrow-bottom';
$icon-arrow-bottom-x: 266px;
$icon-arrow-bottom-y: 111px;
$icon-arrow-bottom-offset-x: -266px;
$icon-arrow-bottom-offset-y: -111px;
$icon-arrow-bottom-width: 10px;
$icon-arrow-bottom-height: 9px;
$icon-arrow-bottom-total-width: 304px;
$icon-arrow-bottom-total-height: 146px;
$icon-arrow-bottom-image: '../img/icons-sprite.png';
$icon-arrow-bottom: (266px, 111px, -266px, -111px, 10px, 9px, 304px, 146px, '../img/icons-sprite.png', 'icon-arrow-bottom', );
$icon-basket-name: 'icon-basket';
$icon-basket-x: 214px;
$icon-basket-y: 91px;
$icon-basket-offset-x: -214px;
$icon-basket-offset-y: -91px;
$icon-basket-width: 30px;
$icon-basket-height: 30px;
$icon-basket-total-width: 304px;
$icon-basket-total-height: 146px;
$icon-basket-image: '../img/icons-sprite.png';
$icon-basket: (214px, 91px, -214px, -91px, 30px, 30px, 304px, 146px, '../img/icons-sprite.png', 'icon-basket', );
$icon-circle-cloud-name: 'icon-circle-cloud';
$icon-circle-cloud-x: 214px;
$icon-circle-cloud-y: 0px;
$icon-circle-cloud-offset-x: -214px;
$icon-circle-cloud-offset-y: 0px;
$icon-circle-cloud-width: 90px;
$icon-circle-cloud-height: 91px;
$icon-circle-cloud-total-width: 304px;
$icon-circle-cloud-total-height: 146px;
$icon-circle-cloud-image: '../img/icons-sprite.png';
$icon-circle-cloud: (214px, 0px, -214px, 0px, 90px, 91px, 304px, 146px, '../img/icons-sprite.png', 'icon-circle-cloud', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 284px;
$icon-facebook-y: 91px;
$icon-facebook-offset-x: -284px;
$icon-facebook-offset-y: -91px;
$icon-facebook-width: 20px;
$icon-facebook-height: 20px;
$icon-facebook-total-width: 304px;
$icon-facebook-total-height: 146px;
$icon-facebook-image: '../img/icons-sprite.png';
$icon-facebook: (284px, 91px, -284px, -91px, 20px, 20px, 304px, 146px, '../img/icons-sprite.png', 'icon-facebook', );
$icon-heart-disable-name: 'icon-heart-disable';
$icon-heart-disable-x: 255px;
$icon-heart-disable-y: 111px;
$icon-heart-disable-offset-x: -255px;
$icon-heart-disable-offset-y: -111px;
$icon-heart-disable-width: 11px;
$icon-heart-disable-height: 10px;
$icon-heart-disable-total-width: 304px;
$icon-heart-disable-total-height: 146px;
$icon-heart-disable-image: '../img/icons-sprite.png';
$icon-heart-disable: (255px, 111px, -255px, -111px, 11px, 10px, 304px, 146px, '../img/icons-sprite.png', 'icon-heart-disable', );
$icon-heart-enable-name: 'icon-heart-enable';
$icon-heart-enable-x: 244px;
$icon-heart-enable-y: 111px;
$icon-heart-enable-offset-x: -244px;
$icon-heart-enable-offset-y: -111px;
$icon-heart-enable-width: 11px;
$icon-heart-enable-height: 10px;
$icon-heart-enable-total-width: 304px;
$icon-heart-enable-total-height: 146px;
$icon-heart-enable-image: '../img/icons-sprite.png';
$icon-heart-enable: (244px, 111px, -244px, -111px, 11px, 10px, 304px, 146px, '../img/icons-sprite.png', 'icon-heart-enable', );
$icon-logo-name: 'icon-logo';
$icon-logo-x: 100px;
$icon-logo-y: 0px;
$icon-logo-offset-x: -100px;
$icon-logo-offset-y: 0px;
$icon-logo-width: 114px;
$icon-logo-height: 100px;
$icon-logo-total-width: 304px;
$icon-logo-total-height: 146px;
$icon-logo-image: '../img/icons-sprite.png';
$icon-logo: (100px, 0px, -100px, 0px, 114px, 100px, 304px, 146px, '../img/icons-sprite.png', 'icon-logo', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 0px;
$icon-marker-y: 0px;
$icon-marker-offset-x: 0px;
$icon-marker-offset-y: 0px;
$icon-marker-width: 100px;
$icon-marker-height: 146px;
$icon-marker-total-width: 304px;
$icon-marker-total-height: 146px;
$icon-marker-image: '../img/icons-sprite.png';
$icon-marker: (0px, 0px, 0px, 0px, 100px, 146px, 304px, 146px, '../img/icons-sprite.png', 'icon-marker', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 106px;
$icon-phone-y: 100px;
$icon-phone-offset-x: -106px;
$icon-phone-offset-y: -100px;
$icon-phone-width: 10px;
$icon-phone-height: 12px;
$icon-phone-total-width: 304px;
$icon-phone-total-height: 146px;
$icon-phone-image: '../img/icons-sprite.png';
$icon-phone: (106px, 100px, -106px, -100px, 10px, 12px, 304px, 146px, '../img/icons-sprite.png', 'icon-phone', );
$icon-search-name: 'icon-search';
$icon-search-x: 214px;
$icon-search-y: 121px;
$icon-search-offset-x: -214px;
$icon-search-offset-y: -121px;
$icon-search-width: 15px;
$icon-search-height: 15px;
$icon-search-total-width: 304px;
$icon-search-total-height: 146px;
$icon-search-image: '../img/icons-sprite.png';
$icon-search: (214px, 121px, -214px, -121px, 15px, 15px, 304px, 146px, '../img/icons-sprite.png', 'icon-search', );
$icon-separator-name: 'icon-separator';
$icon-separator-x: 100px;
$icon-separator-y: 100px;
$icon-separator-offset-x: -100px;
$icon-separator-offset-y: -100px;
$icon-separator-width: 6px;
$icon-separator-height: 28px;
$icon-separator-total-width: 304px;
$icon-separator-total-height: 146px;
$icon-separator-image: '../img/icons-sprite.png';
$icon-separator: (100px, 100px, -100px, -100px, 6px, 28px, 304px, 146px, '../img/icons-sprite.png', 'icon-separator', );
$icon-star-disable-name: 'icon-star-disable';
$icon-star-disable-x: 229px;
$icon-star-disable-y: 121px;
$icon-star-disable-offset-x: -229px;
$icon-star-disable-offset-y: -121px;
$icon-star-disable-width: 11px;
$icon-star-disable-height: 11px;
$icon-star-disable-total-width: 304px;
$icon-star-disable-total-height: 146px;
$icon-star-disable-image: '../img/icons-sprite.png';
$icon-star-disable: (229px, 121px, -229px, -121px, 11px, 11px, 304px, 146px, '../img/icons-sprite.png', 'icon-star-disable', );
$icon-star-enable-name: 'icon-star-enable';
$icon-star-enable-x: 240px;
$icon-star-enable-y: 121px;
$icon-star-enable-offset-x: -240px;
$icon-star-enable-offset-y: -121px;
$icon-star-enable-width: 11px;
$icon-star-enable-height: 11px;
$icon-star-enable-total-width: 304px;
$icon-star-enable-total-height: 146px;
$icon-star-enable-image: '../img/icons-sprite.png';
$icon-star-enable: (240px, 121px, -240px, -121px, 11px, 11px, 304px, 146px, '../img/icons-sprite.png', 'icon-star-enable', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 244px;
$icon-vk-y: 91px;
$icon-vk-offset-x: -244px;
$icon-vk-offset-y: -91px;
$icon-vk-width: 20px;
$icon-vk-height: 20px;
$icon-vk-total-width: 304px;
$icon-vk-total-height: 146px;
$icon-vk-image: '../img/icons-sprite.png';
$icon-vk: (244px, 91px, -244px, -91px, 20px, 20px, 304px, 146px, '../img/icons-sprite.png', 'icon-vk', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 264px;
$icon-youtube-y: 91px;
$icon-youtube-offset-x: -264px;
$icon-youtube-offset-y: -91px;
$icon-youtube-width: 20px;
$icon-youtube-height: 20px;
$icon-youtube-total-width: 304px;
$icon-youtube-total-height: 146px;
$icon-youtube-image: '../img/icons-sprite.png';
$icon-youtube: (264px, 91px, -264px, -91px, 20px, 20px, 304px, 146px, '../img/icons-sprite.png', 'icon-youtube', );
$spritesheet-width: 304px;
$spritesheet-height: 146px;
$spritesheet-image: '../img/icons-sprite.png';
$spritesheet-sprites: ($icon-arrow-bottom, $icon-basket, $icon-circle-cloud, $icon-facebook, $icon-heart-disable, $icon-heart-enable, $icon-logo, $icon-marker, $icon-phone, $icon-search, $icon-separator, $icon-star-disable, $icon-star-enable, $icon-vk, $icon-youtube, );
$spritesheet: (304px, 146px, '../img/icons-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
