/*
** CONTACTS ADDITIONAL
*/

.b-contacts-add {
    background: url("../img/contacts-add/1.png") no-repeat right center;
    padding: 63px 0 56px;

    // text
    &__text {
        width: 960px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }

    // top
    &__top {
        width: 470px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 0 70px;
        padding: 0 0 55px;
        border-bottom: 1px $color-white solid;

        .b-button {
            margin: 12px 0 0 0;
        }

        p {
            color: $color-black;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428;
            width: 180px;
        }
    }

    // bottom
    &__bottom {
        width: 470px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        div {
            display: flex;
            flex-direction: column;

            span {
                display: block;
                color: $color-blue-dark;
                font-size: 29px;
                font-weight: 400;
                line-height: 1;
                position: relative;
                padding: 0 0 0 31px;
                margin: 0 0 9px;

                &:before{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: $color-yellow;
                    border-radius: 10px;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }

                &:after {
                    content: '';
                    display: block;
                    @include sprite($icon-phone);
                    position: absolute;
                    left: 5px;
                    top: 8px;
                }
            }

            a {}

            p {
                width: 180px;
                color: $color-black;
                font-family: $text-font;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.428;
            }
        }
    }
}