<div class="b-contacts-add">

    <!-- text : begin -->
    <div class="b-contacts-add__text">

        <!-- top : begin -->
        <div class="b-contacts-add__top">
            <a href="#" class="b-button">Посмотреть на карте</a>
            <p>Наше кафе находится  в шаговой доступности<br>от станции метро<br>Водный стадион.</p>
        </div>
        <!-- top : end -->

        <!-- bottom : begin -->
        <div class="b-contacts-add__bottom">
            <div>
                <span>8 (956) 74 77</span>
                <a href="#" class="b-button">Заказать звонок</a>
            </div>
            <div>
                <p>Если вы вдруг заблудились или у вас появились вопросы, позвоните нам.</p>
            </div>
        </div>
        <!-- bottom : end -->

    </div>
    <!-- text : end -->

</div>